CompileFlags:
  Add:
    - "-std=c++23"
    - "-xc++"
    - "-I./src"
    - "-I./src/engine"
    - "-I./src/engine/core"
    - "-I./src/engine/math"
    - "-I./src/engine/graphic"
    - "-I./src/engine/graphic/interfaces"
    - "-I./src/engine/graphic/adapters"
    - "-I./src/engine/graphic/pipelines"
    - "-I./src/engine/graphic/upscaler"
    - "-I./src/engine/audio"
    - "-I./src/engine/audio/dsp"
    - "-I./src/engine/resource"
    - "-I./src/engine/tilemap"
    - "-I./src/engine/tilemap/core"
    - "-I./src/engine/tilemap/format"
    - "-I./src/engine/tilemap/renderer"
    - "-I./src/engine/input"
    - "-I./src/engine/input/drivers"
    - "-I./src/engine/ui"
    - "-I./src/engine/ui/2d"
    - "-I./src/engine/scripting"
    - "-I./src/engine/platform"
    - "-I./src/engine/packing"
    - "-I./src/engine/scene"
    - "-I./src/engine/app"
    - "-I./src/engine/logger"
    - "-I./src/engine/physics"
    - "-I./src/engine/config"
    - "-I./src/engine/serialization"
    - "-I./src/engine/threading"
    - "-I./src/engine/transform"
    - "-I./src/engine/utils"
    - "-I./src/engine/window"
    - "-I./src/engine/object"
    - "-I./src/engine/mcp"
    - "-I./src/projects"
    - "-I./.dependencies/glm-src"
    - "-I./.dependencies/stb-src"
    - "-I./.dependencies/glaze-src/include"
    - "-I./.dependencies/tinyxml2-src/include"
    - "-I./.dependencies/zstd-src/lib"
    - "-I./.dependencies/zstd-src/lib/common"
    - "-I./.dependencies/vma-src/include"
    - "-I./.dependencies/Vulkan-Headers-src/include"
    - "-I./.dependencies/Vulkan-Headers-src/include/vulkan"
    - "-I./.dependencies/vk-bootstrap-src/include"
    - "-I./.dependencies/SDL3-src/include"
    - "-I./.dependencies/SDL3-src/include/SDL3"
    - "-I./.dependencies/DirectX-Headers-src/include"
    - "-DPRISMA_ENABLE_RENDER_VULKAN=1"
    - "-DPRISMA_ENABLE_AUDIO_SDL3=1"
    - "-DPRISMA_PLATFORM_WINDOWS=1"
    - "-D_CRT_SECURE_NO_WARNINGS"
    - "-DNOMINMAX"
    - "-DWIN32_LEAN_AND_MEAN"
    - "-DENGINE_EXPORTS=1"
  Remove:
    - "-W*"
    - "-external:*"
  Compiler: clang

Index:
  Background: Build
