CompileFlags:
  Add:
    - "-std=c++20"
    - "-xc++"
    - "-I/root/.repos/PrismaEngine/src"
    - "-I/root/.repos/PrismaEngine/src/engine"
    - "-I/root/.repos/PrismaEngine/src/engine/core"
    - "-I/root/.repos/PrismaEngine/src/engine/math"
    - "-I/root/.repos/PrismaEngine/src/engine/graphic"
    - "-I/root/.repos/PrismaEngine/src/engine/graphic/interfaces"
    - "-I/root/.repos/PrismaEngine/src/engine/graphic/adapters"
    - "-I/root/.repos/PrismaEngine/src/engine/graphic/pipelines"
    - "-I/root/.repos/PrismaEngine/src/engine/graphic/upscaler"
    - "-I/root/.repos/PrismaEngine/src/engine/audio"
    - "-I/root/.repos/PrismaEngine/src/engine/resource"
    - "-I/root/.repos/PrismaEngine/src/engine/tilemap"
    - "-I/root/.repos/PrismaEngine/src/engine/tilemap/core"
    - "-I/root/.repos/PrismaEngine/src/engine/tilemap/format"
    - "-I/root/.repos/PrismaEngine/src/engine/tilemap/renderer"
    - "-I/root/.repos/PrismaEngine/src/engine/input"
    - "-I/root/.repos/PrismaEngine/src/engine/input/drivers"
    - "-I/root/.repos/PrismaEngine/src/engine/ui"
    - "-I/root/.repos/PrismaEngine/src/engine/ui/2d"
    - "-I/root/.repos/PrismaEngine/src/engine/scripting"
    - "-I/root/.repos/PrismaEngine/src/engine/platform"
    - "-I/root/.repos/PrismaEngine/src/engine/packing"
    - "-I/root/.repos/PrismaEngine/.dependencies/glm-src"
    - "-I/root/.repos/PrismaEngine/.dependencies/stb-src"
    - "-I/root/.repos/PrismaEngine/.dependencies/nlohmann_json-src/include"
    - "-I/root/.repos/PrismaEngine/.dependencies/tinyxml2-src/include"
    - "-I/root/.repos/PrismaEngine/.dependencies/zstd-src/lib"
    - "-I/root/.repos/PrismaEngine/.dependencies/zstd-src/lib/common"
    - "-I/root/.repos/PrismaEngine/.dependencies/vma-src/include"
    - "-I/root/.repos/PrismaEngine/.dependencies/Vulkan-Headers-src/include"
    - "-I/root/.repos/PrismaEngine/.dependencies/Vulkan-Headers-src/include/vulkan"
    - "-I/root/.repos/PrismaEngine/.dependencies/vk-bootstrap-src/include"
    - "-I/root/.repos/PrismaEngine/.dependencies/SDL3-src/include"
    - "-I/root/.repos/PrismaEngine/.dependencies/DirectX-Headers-src/include"
    - "-DPRISMA_ENABLE_RENDER_VULKAN=1"
    - "-DPRISMA_ENABLE_AUDIO_SDL3=1"
    - "-DPRISMA_PLATFORM_WINDOWS=1"
    - "-D_CRT_SECURE_NO_WARNINGS"
    - "-DNOMINMAX"
    - "-DWIN32_LEAN_AND_MEAN"
    - "-DENGINE_EXPORTS=1"
  Remove:
    - "-W*"
  Compiler: clang

Index:
  Background: Build
